/* source-sans-pro-300 */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url('~assets/fonts/source-sans-pro-v13-latin-300.woff2') format('woff2'), 
         url('~assets/fonts/source-sans-pro-v13-latin-300.woff') format('woff')
}
/* source-sans-pro-regular */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('~assets/fonts/source-sans-pro-v13-latin-regular.woff2') format('woff2'), 
            url('~assets/fonts/source-sans-pro-v13-latin-regular.woff') format('woff')
        
}
/* source-sans-pro-600 */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url('~assets/fonts/source-sans-pro-v13-latin-600.woff2') format('woff2'), 
            url('~assets/fonts/source-sans-pro-v13-latin-600.woff') format('woff')
}

/* source-serif-pro-regular */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: url('~assets/fonts/source-serif-pro-v7-latin-regular.woff2') format('woff2'), 
         url('~assets/fonts/source-serif-pro-v7-latin-regular.woff') format('woff')
}

/* bebas-neue-regular - latin */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('~assets/fonts/bebas-neue-v1-latin-regular.woff2') format('woff2'), 
         url('~assets/fonts/bebas-neue-v1-latin-regular.woff') format('woff')
}

