/* purgecss start ignore */
@import 'tailwindcss/base';

@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

.scale:hover {
    transform: scale(1.3);
}

.scale {
    transition: all .3s;
    transform-origin: 50% 50%;
}